body{
   margin: 0px;
   padding: 0px;
   font-family: 'Roboto',sans-serif;
   justify-content: center;
   align-items: center;
   background-color:grey;
}
h1{
    margin: 0;
    padding: 0;
    text-align: left;
    color: black;
    font-size:75px;
    font-family: USN Stencil Font;
    font-weight: bold;
    text-shadow: 9px 9px 5px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    text-decoration: none;
}
header{
    width:100vw;
    height:30vh;
    background-image:url("../images/header.jpg");
    background-size: cover; /* Resize the background image to cover the entire container */
    margin: 0;
    padding: 0;
}
nav{
    width:100vw;
    height:10vh;
    background-color: black;
}
nav ul{
    list-style-type: none;
    background-color: black;
    margin: 0px;
    overflow: hidden; 
}
nav li{
    float: left;
}
nav a{
    color: white;
    text-decoration: none;
    padding: 7px 53px;
    margin: 0px;
    display: block;
    text-align: right;  
    font-size:72px; 
}
nav a:hover{
   background-color: grey;
}
main{
    width:100vw;
    height:60vh;
    background-color:grey;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.left{
    width:18vw;
    height:70%;   
    text-align:center;
}
.right{
    width:18vw;
    height:70%;  
    text-align:center;   
}
.middle{
    width:64vw;
    height:88%;
    align-items: center; 
    text-align:center;
}
a{
    text-decoration: none;
}
p{
    font-family:Rockwell ;
    font-size:30px ;
    color: black;
}
.hometext{
    width:62vw;
    height:90%;
    align-items: center; 
    padding: 0 100px;
    background-color: lightgray;
    box-sizing: border-box;  
}
h2{
    font-family:Rockwell ;
    font-size:36px ;
    color: black;
}